* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Texto color blanco en todas partes*/
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

/*Hacer todo el texto de loslinks negro y sin decoracion*/
a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

p {
    font-size: 30px;
}

/*Todas las imaganes deben ser del mismo tamano que su companero */
/*img {
    width: 100%;
}*/
/*Remover el estilo a los elementos de una lista*/
li {
    list-style-type: none;
}

.logo {
    color: black;
}

.navbar {
    background-color: #FFBF00;
    color: #fff;
}

/*Mostrar ambos elementos hijos dentro del contenedor h1 y nav una al lado del otro usando Flebox*/
.container {
    display: flex;
    justify-content: space-between; /* Distribuye el contenido en ambos lados */
    align-items: center; /* Centra verticalmente los elementos */    
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centra horizontalmente el contenido */
    padding: 0 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin-right: 10px;
}

nav img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

nav a.outline {
    border: 1px solid #000000;
    padding: 5px 10px;
    border-radius: 5px;
}

/* SLIDES CONTAINER */
/*Estilos para el contenedor del slideshow */
.slideshow-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width:1280px;
    height:480px;
    overflow:hidden;
}

.slideshow-container img {
    width: 970px;
    height: auto;
}

/* Estilo para las diapositiva (incialmente ocultas) */
.mySlides {
    display: none;
}

/* Estilos para el pie de página */
header, footer {
    background-color: #FFBF00;
    color: #000000;
    text-align: center;
    padding: 10px;
}