* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 30px;
    font-weight: 600px;
    margin: 10px 0;
    line-height: 1.2;
}

li {
    list-style-type: none;
}

/* Estilo del navbar */
.navbar {
    background-color: #FFBF00;
    color: #fff;
    padding: 10px 0;
}

/* Estilo del contenedor para centrar contenido y aplicar Flexbox */
.container {
    display: flex;
    justify-content: space-between; /* Distribuye el contenido en ambos lados */
    align-items: center; /* Centra verticalmente los elementos */
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centra horizontalmente el contenido */
    padding: 0 20px;
}

/* Estilo del logo */
.logo {
    font-size: 30px;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

/* Estilo de la navegación (por ejemplo, ajusta el espaciado y el color) */
nav {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro de la navegación */
}

/* Estilo del icono de perfil de usuario (por ejemplo, ajusta el tamaño) */
nav img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Estilo de los enlaces de navegación */
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* Estilo de los enlaces de navegación con borde */
nav a.outline {
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

header, footer {
    background-color: #FFBF00;
    color: #000000;
    text-align: center;
    padding: 10px;
}